<launch>

  <!-- CSV 경로 파일 위치 -->
  <arg name="csv_path"
       default="$(find pure_pursuit_drone)/mission/path.csv"/>

  <!-- Pure Pursuit 노드 -->
  <node
    name="drone_pure_pursuit"
    pkg="pure_pursuit_drone"
    type="drone_pure_pursuit.py"
    output="screen">

    <rosparam file="$(find pure_pursuit_drone)/config/params.yaml"
              command="load"/>

    <!-- csv_path는 yaml보다 여기서 덮어쓰는 것을 권장 -->
    <param name="csv_path"  value="$(arg csv_path)"/>

  </node>

</launch>
